.assigmaent{
    margin-left: 296px;
    .assigmaentTop{
        .form-select{
            width: 132px;
            border: none;
            cursor: pointer;
            &:focus{
                box-shadow: none;
            }
        }
        .assigmaentTop_right{
            span:hover{
                color: $success;
                transform: scale(1.5);
                transition: 0.7s;
            }
        }
    }
    .assigmaentBottom_left{
        width: 30%;
        .form-select{
            width: 70px;
            border: none;
            cursor: pointer;
            &:focus{
                box-shadow: none;
            }
            padding: 0;
        }
        li{
            border: $gray-400 1px solid;
            margin-bottom: -1px;
            a{
                padding: 12px;
            }
            a:hover{
                color: $gray-900;
                background-color: $gray-400;
            }
        }
    }
    .assigmaentBottom_right{
        width: 65%;
        .card-header{
            padding: 12px 16px;
        }
        .content{
            width: 93%;
            border-bottom: 1px solid $gray-400;
            .contentBot a{
                border: 1px solid $gray-400;
                width: 176px;
                margin-bottom: 16.5px;
            }
        }
        .reply{
            width: 93%;
            span{
                margin-left: 1rem;
            }
            a:hover{
                color: $success;
                transition: 0.8s;
            }
            .material-icons{
                margin-left: 24px;
            }
        }
    }
}

.bot{
    .page-link{
        border: none;
        color:black; 
    }
    button{
        border-radius: 2px;
        border: 1px solid $success;
        color: $success;
        background-color: #fff;
        &:hover{
            background-color: $success;
            color: #fff;
            transition: 0.999s;
        }
    }
    .btnMark{
        width: 157px;
    }
    .btnReply{
        width: 105px;
    }
}

