.picCircle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.container{
    padding: 0px 32px;
}

.ps-6{
    padding-left: $spacer * 2;
}

.pe-6{
    padding-right: $spacer * 2;
}

.pt-6{
    padding-top: $spacer * 2;
}

.pt-7{
    padding-top: $spacer * 0.75;
}

.pb-6{
    padding-bottom: $spacer * 2;
}

.pb-7{
    padding-bottom: $spacer * 0.75;
}

.py-6{
    padding: $spacer * 2 0;
}

.py-7{
    padding: $spacer * 0.75 0;
}

.ms-6{
    margin-left: $spacer * 2;
}

.me-6{
    margin-right: $spacer * 2;
}

.me-7{
    margin-right: $spacer * 0.75;
}

.me-8{
    margin-right: 50px;
}

.me-9{
    margin-right: 26px;
}

.mt-6{
    margin-top: $spacer * 2;
}

.mb-6{
    margin-bottom: $spacer * 2;
}

.mb-7{
    margin-bottom: 4px;
}

.fs-7{
    font-size: $spacer * 0.875;
}

.fs-8{
    font-size: 24px;
}

.fs-9{
    font-size: 12px;
}